@media only screen and (max-width: 600px){
    #principal{
        flex-direction: column;
        height: auto;
    }
    #menu{
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }
    #menu a{
        height: 50px;
        display: flex;
        align-items: center;
    }
    #principal #btnLogin{
        width: 80%;
        margin: 0;
        margin-bottom: 5px;
    }
    section h1{
        font-size: 38px;
    }
    section h2{
        font-size: 24px;
        padding-right: 5px;
        padding-left: 5px;
        line-height: 35px;
    }
    form{
        width: 95%;
        font-size: 20px;
    }
    .formGroup .checkboxItens label{
        font-size: 14px;
    }
    input[type="checkbox"]{
        transform: scale(1.4);
    }
    #footer .part1{
        flex-direction: column;
    }
    #footer .endereco{
        width: 95%;
        margin-bottom: 20px;
    }
}